@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";
body {
  padding: 0;
  margin: 0;
}

@theme {
  --font-outfit: "Outfit", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
